<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load user_filters %}
  <main role="main" class="container">
    <div class="row">
      <!-- Левый вспомогательный блок -->
      <div class="col-md-3 mb-3 mt-1">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="h3">
                  Об авторе
                </div> 
              </li>
              <li class="list-group-item">
                <div class="h6 text-muted">
                  <a href="https://github.com/DiHov">DiHov</a>
                </div>
              </li>
            </ul>                                               
          </div>                    
        </div>                
      </div>
      <!-- Тело страницы -->
      <div class="col-md-9">
        <div class="card-body">                    
          <div class="card-text">
            <p>На этой странице публикую информацию о себе. Даю ссылку на свой аккаунт в <a href="https://github.com/DiHov">Github</a>, 
               на страницу моего резюме вы не попадете, поскольку его нет. Меня вдохновляет богатство и слава,
               а в мир программирования я пришел за печеньками и красивыми женщинами. Как вы себя ощущаете в этом мире?
               Обманутым!
            </p>
            <p>Во время работы мне помогал мой кот, черепаха, рыбки и конечно две бутылки пива. 
               В среде программистов принято упоминать об этом; 
               поэтому возьмите меня на работу в приличную компанию!
            </p>
            <p>
              Хорошим тоном считается выложить фотографию своей рабочей кружки или образцового порядка на
              рабочем столе. Но я пью из чайника, а на столе беспорядок.
            </p>
          </div>                    
        </div>                
      </div>            
    </div>        
  </main>
{% endblock %}