{% extends "base.html" %}
{% block title %}Профиль пользователя @{{ author.get_username }}{% endblock %}
{% block header %}Профиль пользователя @{{ author.get_username }}{% endblock %}
{% block content %}
{% load user_filters %}
<main role="main" class="container">
    <div class="row">
        {% include "includes/author_card.html" with author=author following=following is_profile=True %}

        <div class="col-md-9">                
            {% for post in page %} 
                {% include "includes/post.html" with post=post %}
            {% endfor %} 
            {% include "includes/paginator.html" %}
        </div>
    </div>
</main>
{% endblock %}